{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

    <header>
        <h1>EcoRevolt</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'partner' %}">Collaborative</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    <section class="slide">
        <main>
            <div>
                <h1>
                    #1 Place to Buy & Sell
                </h1>
            </div>
            <div>
                <h1>Social</h1>
                <h1>Projects</h1>
            </div>
            <div>
                <input type="search" name="" placeholder="Search" id=""> <br>
                <div>
                    <h3>Trending</h3>
                    <ul>
                        <li>Solar</li>
                        <li>Geo</li>
                        <li>Thermal</li>
                        <li>Water</li>
                        <li>Soil</li>
                    </ul>
                </div>
            </div>
        </main>

    </section>
    <section class="slide">
        <section class="about">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                    class="card__image" alt="brown couch" />
                <div class="card__content">
                    <span class="card__title">
                        Introducing EcoRevolt, an innovative platform designed to catalyze sustainable change by
                        connecting visionary project owners with passionate investors. Our app employs cutting-edge
                        algorithms to match the perfect idea with the ideal investor, ensuring synergistic
                        collaborations that drive environmental preservation forward. With a commitment to excellence
                        and a focus on saving our planet, EcoRevolt empowers users to invest in impactful projects that
                        align seamlessly with their values and interests. Join us in revolutionizing sustainability, one
                        investment at a time.
                </div>
            </div>
        </section>
    </section>
    <section class="slide">
        <section>
            <h1 class="topic">Goals</h1>
            <section class="goals">
                <div class="goal">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <p>
                        EcoRevolt aims to provide a platform that facilitates sustainable investment by connecting
                        project
                        owners with investors who are passionate about supporting environmentally-friendly initiatives
                    </p>
                </div>
                <div class="goal">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <p>
                        One of EcoRevolt's core objectives is to maximize the environmental impact of investment by
                        supporting projects that address critical environmental issues such as climate change,
                        biodiversity
                        loss, pollution, and resource depletion.
                    </p>
                </div>
                <div class="goal">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <p>
                        EcoRevolt is committed to promoting transparency and accountability in sustainable investing.
                        This
                        commitment to transparency helps ensure that investments are directed towards projects
                    </p>
                </div>
            </section>
        </section>
    </section>
    <section class="slide">
        <section>
            <h1 class="topic">Reviews</h1>
            <section class="reviews">
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
                <div class="review">
                    <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80"
                        class="card__image" alt="brown couch" />
                    <div>
                        <p><h3>Name</h3>star</p>
                        <p>review goes here : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
                            voluptas.
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <footer>
        <div>
            <h3>Contact Details</h3>
            <p>
                Contact No:111-222-333
                <br>
                Email : 12345@gmail.com
                <br>
                Address : No 123 gandhi nagar New york China
            </p>
        </div>
        <div>
            <h3>Follow us on</h3>
            <ul>
                <li>In</li>
                <li>Fb</li>
                <li>Li</li>
                <li>X</li>
            </ul>
        </div>
    </footer>

</body>

</html>