{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Partnership</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'partner.css' %}" />
</head>

<body>
    <header>
        <h1>EcoRevolt</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'projects' %}">Projects</a>
                </li>
                <li>
                    <a href="{% url 'partner' %}">Collaborative</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="title">
        <h2>Partners and Collaborations</h2>
        <div class="Card">
            <div class="CardInner">
                <div class="container">
                    <div class="Icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-search">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                    </div>
                    <div class="InputContainer">
                        <input placeholder="Search for parnters " />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="partner-list">
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
        <div class="partner-card">
            <div class="profile-img"></div>
            <h2 class="name">Morgan Stanley</h2>
            <div class="picons">
                <div class="icons"></div>
                <div class="icons"></div>
                <div class="icons"></div>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error, nam sint dolor et magni at
                reiciendis quibusdam obcaecati sit.
            </div>
            <button>Partner</button>
        </div>
    </section>

</body>

</html>