<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Product Page</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="prod.css" />
  </head>
  <body>
    <header>
      <h1>EcoRevolt</h1>
      <nav>
          <ul>
              <li><a href="{% url "home" %}">Home</a></li>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li><a href="{% url 'partner' %}">Collaborative</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
          </ul>
      </nav>
  </header>
    <div class="pagination">
      <p>Project Description</p>
    </div>
    <!-- product section -->
    <section class="product-container">
      <!-- left side -->
      <div class="img-card">
        <img src="./shutterstock_1805847055.jpeg" alt="" id="featured-image" />
        <!-- small img -->
        <div class="small-Card">
          <img src="./download (1).jpeg" alt="" class="small-Img" />
          <img
            src="./Screenshot 2024-05-12 at 12.24.55 AM.png"
            alt=""
            class="small-Img"
          />
          <img src="./material-domesticindustrialwaste-domesticwaste-002.jpeg" alt="" class="small-Img" />
          <img src="./download (2).jpeg" alt="" class="small-Img" />
        </div>
      </div>
      <!-- Right side -->
      <div class="product-info">
        <h3 class="titfont">COMMUNITY RECYCLING PROGRAM</h3>
        <h5>Expenditure: $14000</h5>
        <div class="mainpar">
        <p >
          A community recycling program is a grassroots initiative aimed at
          reducing waste and promoting environmental sustainability within a
          local area. Innovators leading such programs approach the challenge
          with a blend of strategic planning and creative solutions. They begin
          by thoroughly assessing the needs and resources of their community,
          identifying opportunities for improvement in waste management
          practices.This plan typically includes strategies for efficient
          collection, sorting, and processing of recyclable materials, as well
          as measures to raise awareness and encourage participation among
          residents, businesses, and institutions.
        </p>
        <p>
          They may implement innovative solutions such as smart waste bins
          equipped with sensors to optimize collection routes, or develop mobile
          applications to streamline communication and tracking of recycling
          efforts. Additionally, they prioritize education and engagement by
          organizing awareness campaigns, workshops, and community events to
          foster a culture of environmental responsibility.
        </p>
        </div>

        <div class="InvestMent">
          <p>Funding:</p>
          <select name="Size" id="size" class="size-option">
            <option value="xxl">Seed Funding</option>
            <option value="xl">Group Funding</option>
            <option value="medium">Mass Funding</option>
            <option value="small">Small</option>
          </select>
        </div>
        <p>No of Investors ( if opt for Seed/Group )</p>
        <div class="quantity">
          <input type="number" value="1" min="1" />

          <button>Confirm Investors</button>
        </div>
        <hr />
        <br />

        <div>
          <h4>About The Innovator:</h4>
          <br>
          <img src="./360_F_244002364_LQELgqH8utkxb0NdpUrcxPjtJ7bNt6J4.jpeg" height="100px" weight="100px" class="photo">
          <br>
          
          <p>
            Meet Alex Rodriguez, a serial entrepreneur known for disruptive
            innovations. He founded TechNova, introducing HealthTrack, an
            electronic health record system. EcoMotion followed, producing the
            eco-friendly SwiftDrive. NextGenTech, his venture into consumer
            electronics, launched SmartLife, an AI-powered smart home range.
            Rodriguez advocates for STEM education and innovation, shaping
            industries and inspiring future leaders with his relentless pursuit
            of positive change.
          </p>
          <br>
          <br>
        
    <script src="js/cart.js"></script>
  </body>
</html>
