{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'partner.css' %}" />
    <link rel="stylesheet" href="{% static 'project.css' %}">
</head>

<body>
    <header>
        <h1>EcoRevolt</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'partner' %}">Collaborative</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="filter">
        <div class="Card">
            <div class="CardInner">
                <div class="container">
                    <div class="Icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-search">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                    </div>
                    <div class="InputContainer">
                        <input placeholder="Search for parnters " />
                    </div>
                </div>
            </div>
        </div>
        <div class="parameters">
            <div class="check">
                <div>
                    <label for="check1">Solo</label>
                    <input type="checkbox" name="check1" id="">
                </div>
                <div>
                    <label for="check2">Group</label>
                    <input type="checkbox" name="check2" id="">
                </div>
                <div>
                    <label for="check3">Team</label>
                    <input type="checkbox" name="check3" id="">
                </div>
            </div>
        </div>
    </div>

    <section class="projects">
        <section class="project-list">
            <div class="project">
                <img src="" alt="">
                <div class="details">
                    <h3>Project Name</h3>
                    <h4>Created by Names</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quo eligendi assumenda neque
                        expedita reiciendis molestiae. Fuga consequuntur beatae eaque.</p>
                </div>
            </div>
        </section>
        <section class="project-list">
            <div class="project">
                <img src="" alt="">
                <div class="details">
                    <h3>Project Name</h3>
                    <h4>Created by Names</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quo eligendi assumenda neque
                        expedita reiciendis molestiae. Fuga consequuntur beatae eaque.</p>
                </div>
            </div>
        </section>
        <section class="project-list">
            <div class="project">
                <img src="" alt="">
                <div class="details">
                    <h3>Project Name</h3>
                    <h4>Created by Names</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quo eligendi assumenda neque
                        expedita reiciendis molestiae. Fuga consequuntur beatae eaque.</p>
                </div>
            </div>
        </section>
    </section>
</body>

</html>