body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: sans-serif;
    background-color: rgba(0, 255, 0, 0.664);
}

header {
    width: -webkit-fill-available;
    height: 50px;
    padding: 5px 30px;
    color: white;
    z-index: 3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #142740;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header li {
    list-style: none;
    padding: 5px 20px;
}

header a {
    font-size: 13px;
    color: white;
    list-style: none;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    margin: 80px 20px;
    padding: 20px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

main div:first-of-type h1 {
    font-size: 15px;
    font-weight: 100;
}

main div:nth-child(2) {
    display: flex;
}

main div:nth-child(2) h1 {
    padding: 5px;
    height: auto;
    margin: 10px;
    font-size: 3rem;
}

main div:last-of-type {
    display: flex;
    flex-direction: column;
    color: black;
}

main div:last-of-type div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main div:last-of-type div ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 10px;
}

main div:last-of-type input {
    height: 30px;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid;
}

main div:last-of-type div ul li {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid;
    margin: 5px;
    font-size: 12px;
    transition: 0.1s ease-in-out;
    border-radius: 20px;
}

main div:last-of-type div ul li:hover {
    box-shadow: 0px 0px 5px black;
    color: black;
    background-color: white;
    transform: scale(1.05);
}

main div:last-of-type div h3 {
    margin: 0px;
    padding: 0px;
}

.about {
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about img {
    width: 300px;
    height: 300px;
}

.about .card {
    backdrop-filter: blur(10px);
    border: 2px solid transparent;
    box-shadow:  inset 0 0 100px 500px rgba(249, 245, 245, 0.623), 0 0 10px 10px rgb(0 0 0 / 30%);
    display: flex;
    padding: 20px;
    width: 700px;
    font-size: medium;
    border-radius: 20px;
    justify-content: center;
}

.card__content {
    padding: 20px;
    margin: 20px;
}

@keyframes moveReviewsright {
    from {
        transform: translateX(-30%);
    }

    to {
        transform: translateX(30%);
    }
}

@keyframes moveReviewsleft {
    from {
        transform: translateX(30%);
    }

    to {
        transform: translateX(-30%);
    }
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveReviewsright 60s linear infinite;
}

.reviews:last-of-type {
    animation: moveReviewsleft 60s linear infinite;
}

.review {
    width: 300px;
    margin: 20px;
    padding: 10px 20px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: inset 0 0 100px 10px rgb(249 245 245), 0 0 18px 3px rgb(0 0 0 / 30%);;
}

.review img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
}

.review div {
    padding: 0px 10px;
    width: 200px;
    text-align: left;
}

.review div h3 {
    font-size: 15px;
    margin: 0px;
}

.review div p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
    margin: 0px;
    font-weight: 100;
}

.goals {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.goal {
    width: 200px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: justify;
    padding: 20px 30px;
    height: 200px;
}

.goal:hover {
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 50px 100px rgb(249 245 245 / 30%), 0 0 18px 3px rgb(10 10 10 / 30%);
}

.goal:hover img {
    display: none;
}

.goal:hover p {
    display: block;
}

.goal img {
    box-shadow: 0px 0px 10px black;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    transition: 2s ease-in-out;
    display: flex;
    object-fit: cover;
    justify-content: center;
    flex-direction: column;
}

.goal p {
    display: none;
    color: white;
}

.topic {
    text-align: center;
    font-size: xx-large;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: green;
    z-index: -1;
    filter: blur(5px);
}

.circle:first-of-type {
    right: -100px;
    width: 400px;
    height: 400px;
    bottom: 0px;
}

.circle:last-of-type {
    width: 400px;
    height: 400px;
    left: 200px;
    bottom: -50%;
}

.circle:nth-child(2) {
    left: -100px;
    top: -10%;
}

.circle:nth-child(3) {
    background-color: #294c7a;
    width: 300px;
    height: 300px;
    bottom: 20%;
    left: 30%;
}

.slide {
    margin: 20px;
    padding: 20px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(2) {
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: smaller;
    backdrop-filter: blur(10px);
    border: 1px solid;
}

footer ul {
    display: flex;
    margin: 0px;
    text-align: left;
    list-style: none;
    padding: 0px;
    justify-content: space-evenly;
    align-items: start;
}

footer ul li {
    margin: 5px 10px;
}

footer p {
    font-size: 12px;
}

footer h3 {
    font-size: 15px;
}