body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: sans-serif;
    background-color: #f4edcc;
}

header {
    width: -webkit-fill-available;
    height: 50px;
    padding: 5px 30px;
    color: white;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #142740;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header li {
    list-style: none;
    padding: 5px 20px;
}

header a {
    font-size: 13px;
    color: white;
    list-style: none;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    margin: 80px 20px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:first-of-type h1 {
    font-size: 15px;
    font-weight: 100;
}

main div:nth-child(2) {
    display: flex;
}

main div:nth-child(2) h1 {
    padding: 5px;
    height: auto;
    margin: 10px;
    font-size: 3rem;
}

main div:last-of-type {
    display: flex;
    flex-direction: column;
}

main div:last-of-type div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main div:last-of-type div ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 10px;
}

main div:last-of-type input {
    height: 30px;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid;
}

main div:last-of-type div ul li {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid;
    margin: 5px;
    font-size: 12px;
    border-radius: 20px;
}

main div:last-of-type div ul li:hover {
    box-shadow: 0px 0px 5px black;
}

main div:last-of-type div h3 {
    margin: 0px;
    padding: 0px;
}

.about {
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about img {
    width: 300px;
    height: 300px;
}

.about .card {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px black;
    display: flex;
    border: 1px solid;
    padding: 20px;
    width: 700px;
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 5px;
    justify-content: center;
}

.card__content {
    padding: 20px;
    margin: 20px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.review {
    width: 300px;
    box-shadow: 0px 0px 10px black;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review div {
    padding: 0px 10px;
    width: 300px;
    text-align: left;
}

.review div h3 {
    font-size: 15px;
    margin: 0px;
}

.review div p {
    display: flex;
    font-size: 12px;
    margin: 0px;
    font-weight: 100;
}

.goals {
    display: flex;
    margin: 20px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.goal {
    width: 200px;
    border: 1px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 30px 20px;
    text-align: justify;
}

.goal:hover {
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(5px);
    border-radius: 0px;
}

.goal img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topic {
    text-align: center;
    font-size: xx-large;
    margin: 20px;
    padding: 20px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: #63e4f254;
    z-index: -1;
}

.circle:first-of-type {
    right: -100px;
    width: 400px;
    height: 400px;
    bottom: -50px;
}

.circle:last-of-type {
    width: 400px;
    height: 400px;
    left: 200px;
    bottom: -50%;
}

.circle:nth-child(2) {
    left: -100px;
}

.circle:nth-child(3) {
    background-color: #294c7a;
    width: 300px;
    height: 300px;
    bottom: -20%;
    left: 40px;
}

.circle:nth-child(4) {
    background-color: #294c7a;
    width: 400px;
    height: 400px;
    top: 200%;
    right: -10%;
}

.circle:nth-child(5) {
    width: 200px;
    height: 200px;
    top: 200%;
    right: 10%;
}

.circle:nth-child(6) {
    width: 500px;
    height: 500px;
    top: 250%;
    left: 20%;
}

.circle:nth-child(6) {
    width: 200px;
    height: 200px;
    top: 180%;
    background-color: #294c7a;
    left: 15%;
}

.circle:nth-child(7) {
    width: 300px;
    height: 300px;
    top: 180%;
    left: 0%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0px 20px;
    font-size: smaller;
    backdrop-filter: blur(10px);
    border: 1px solid;
}

footer ul {
    display: flex;
    margin: 0px;
    text-align: left;
    list-style: none;
    padding: 0px;
    justify-content: space-evenly;
    align-items: start;
}

footer ul li {
    margin: 5px 10px;
}

footer p {
    font-size: 12px;
}

footer h3 {
    font-size: 15px;
}